.wow {
  visibility: visible !important;
}

.title-page {
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: $default;
}

.sect-text-bl__title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 20px;
}

.btn {
  min-height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $gray;
  color: $btText;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  background-color: $white;
  border-radius: 4px;
  padding: 2px 20px;
  transition: background $tran-f;
  transition: color $tran-f, border $tran-f, background-color $tran-f;

  &:hover {
    color: $text;
    border: 1px solid $colLg;
  }

  &:active {
    background-color: $gray-l;
    border: 1px solid $colLg;
  }
}

.btn_cl {
  border: none !important;
  color: $white !important;
  background-color: $grin !important;
  box-shadow: 0px 4px 8px rgba(16, 180, 161, 0.2);

  &:hover {

  }
}

.svg-spot {
  overflow: auto !important;
  transform-origin: top left;
}


.sect-bl-vis__none {
  .anim__tx-vis {
    opacity: 0;
  }
}

.svg-spot {
  overflow: visible !important;
  transform-origin: left top;
}
