body {
  font-family: $mada;
  color: $text;
  -webkit-font-smoothing: antialiased;
}

// HEADER =============================================================
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 60px;
  padding: 10px 20px;
  box-shadow: 0px 0px 8px transparent;
  transition: all $tran;

  &.header_scroll {
    background-color: $white;
    box-shadow: 0px 0px 8px rgba(217, 221, 231, 0.5);
  }
}

.logo {

}

.head-logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
  text-decoration: none;

  &:hover {

  }
}

.head-logo__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $grin;
  margin-right: 15px;

  &::before {
    content: '';
    display: block;
    width: 12px;
    height: 13px;
    background-image: url("../img/icon/header-logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.head-logo__text {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $default;
}

.head-logo__text_fr {
  color: $grin-d;
}

.head-menu {
  display: flex;
  margin: 0 10px 0 20px;
}

.head-menu__item {
  margin-right: 40px;

  &:last-of-type {
    margin-right: 0;
  }

  @include max-w(560) {
    display: none;
  }
}

.head-menu__item_mob {
  display: none;

  @include max-w(560) {
    display: block;
    margin-right: 0;
  }
}

.head-menu__link {
  display: block;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  padding: 2px 5px;
  text-decoration: none;
  color: $default;
}

.head-menu__link_list {
  position: relative;
  padding-right: 16px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    border-top: 4px solid $gray;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transform: translateY(-50%);
  }
}

.head-menu__link_list-mob {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

// HEADER END =========================================================


// PAGE-STYLE =========================================================

.main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 60px;

  &.bl-coolie-active {
    padding-bottom: 80px;
  }
}

#main {
  width: 100%;
  max-width: 1150px;
  flex-grow: 1;

  @include max-w(1270) {
    max-width: 100%;
  }
}

.wrap-page {
  padding: 0 10px;

  @include max-w(1270) {
    padding: 0 60px;
  }

  @include max-w(600) {
    padding: 0 30px;
  }
}

.page-sect {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

// PAGE-STYLE END ========================================================


// COOKIE-BLOCK  ========================================================

.page-bl-cookie {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 8px rgba(217, 221, 231, 0.5);
  display: none;
}

.page-bl-cookie__wrap {
  width: 100%;
  max-width: 900px;
  min-height: 80px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-bl-cookie__text {
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  max-width: 680px;
  padding-right: 10px;
}

.btn_cookie {
  min-width: 110px;
  min-height: 32px;
}


// COOKIE-BLOCK END =====================================================


// FREELANCE-SECTION =====================================================
.page-sect_freelance {
  height: calc(100vh - 60px);
  min-height: 900px;
  align-items: center;
  position: relative;

  @include max-w(1200) {
    display: block;
    padding-top: 75px;
  }

  @include max-w(760) {
    height: auto;
  }

  @include max-w(600) {
    padding-top: 28px;
  }

  &::before {
    content: '';
    display: block;
    height: 100vh;
    min-height: 900px;
    width: 46.5vw;
    min-width: 520px;
    position: absolute;
    z-index: -1;
    top: -60px;
    left: calc(50% + 58px);
    background-color: $gray-l;

    @include max-w(1200) {
      display: none;
    }
  }

  &.active {
    .sect-img-freel {

      &::before {
        transform: scale(1.1);
      }
    }
  }
}

.page-sect__cont {
  transform: translateY(-9.3vh);
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include max-w(1200) {
    flex-wrap: wrap;
    transform: none;
  }
}

.page-sect-part__text {
  flex-grow: 1;
}

.page-sect-part__text_freel {
  max-width: 440px;
  padding-right: 10px;

  @include max-w(800) {
    padding-right: 0;
  }

  @include max-w(760) {
    order: 3;
    max-width: 100%;
  }
}

.title-page_freel {
  margin-top: 87px;
  font-size: 50px;
  line-height: 130%;
  max-width: 370px;
  margin-bottom: 150px;

  @include max-w(1200) {
    display: none;
  }

  @include max-w(600) {
    font-size: 34px;
  }
}

.title-page__cont {
  display: none;
  min-width: 100%;

  @include max-w(1200) {
    display: block;
  }
}

.title-page_freel-mob {
  display: block;
  max-width: 560px;
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 110px;

  @include max-w(760) {
    margin-bottom: 40px;
  }
}

.sect-text-bl__title_freel {
  max-width: 170px;
}

.page-sect-part__desc {
  display: flex;

  @include max-w(1200) {
    display: block;
  }
}

.page-sect-part__desc_freel {
  @include max-w(760) {
    display: flex;
    flex-wrap: wrap;
  }
}

.sect-text-bl__desc {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: $text;
}

.sect-text-bl__desc_freel {
  width: 100%;
  max-width: 174px;
}

.sect-text-bl {
  width: 50%;
  padding-right: 10px;

  @include max-w(1200) {
    width: 100%;
  }
}

.sect-text-bl_empl {
  margin-bottom: 60px;
}

.sect-text-bl_empl-one {
  @include max-w(760) {
    width: 100%;
    max-width: 254px;
  }

  @include max-w(600) {
    max-width: 100%;
  }
}

.sect-text-bl_empl-two {
  @include max-w(760) {
    width: 100%;
    max-width: 254px;
  }

  @include max-w(600) {
    max-width: 100%;
  }
}

.btn_freel {

}


.page-sect-part__vis {
  position: relative;
}

.page-sect-part__vis_freel {
  flex-grow: 1;
  width: 100%;
  max-width: 640px;

  @include max-w(1200) {
    transform: translateY(-80px);
  }

  @include max-w(1024) {
    max-width: 500px;
    transform: none;
    margin-right: -63px;
  }

  @include max-w(760) {
    display: flex;
    justify-content: center;
    min-height: 448px;
    margin-right: 0;
    order: 2;
    max-width: 100%;
  }
}

.sect-dec-svg {
  position: absolute;
  z-index: 10;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.sect-dec-svg_top-freel {
  background-image: url("../img/sect-freel-svg-top.svg");
  width: 310px;
  height: 343px;
  top: 14px;
  left: 221px;

  @include max-w(1024) {
    background-image: url("../img/sect-freel-svg-top_m.svg");
    width: 181px;
    height: 317px;
    left: 188px;
    top: -60px;
  }

  @include max-w(760) {
    background-image: url("../img/sect-freel-svg-top_mx.svg");
    width: 134px;
    height: 205px;
    left: 131px;
    top: -20px;
  }
}

.sect-dec-svg_bottom-freel {
  background-image: url("../img/sect-freel-svg-bottom.svg");
  width: 393px;
  height: 343px;
  top: 318px;
  left: 82px;

  @include max-w(1024) {
    background-image: url("../img/sect-freel-svg-bottom_m.svg");
    width: 373px;
    height: 326px;
    top: 230px;
    left: 70px;
  }

  @include max-w(760) {
    width: 248px;
    height: 205px;
    left: 52px;
    top: 156px;
    background-image: url("../img/sect-freel-svg-bottom_mx.svg");

  }
}

.sect-img-freel {
  position: absolute;
  z-index: 20;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  border-radius: 4px;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.sect-img-freel_desc {
  width: 420px;
  height: 310px;
  left: 2px;
  top: 94px;

  @include max-w(1024) {
    width: 280px;
    height: 280px;
    left: 0px;
    top: 15px;
  }

  @include max-w(760) {
    width: 200px;
    height: 200px;
    top: 10px;
  }

  &::before {
    background-image: url("../img/sect-freel-desc.png");
    transition: transform 1.5s;
  }
}

.sect-img-freel_mob {
  z-index: 25;
  width: 420px;
  height: 310px;
  left: 220px;
  top: 291px;
  box-shadow: -25px 30px 70px rgba(112, 122, 129, 0.2);

  @include max-w(1024) {
    width: 280px;
    height: 280px;
    top: 215px;
    left: 218px;
  }

  @include max-w(760) {
    width: 200px;
    height: 200px;
    left: 130px;
    top: 130px;
  }

  &::before {
    background-image: url("../img/sect-freel-mob.png");
    transition: transform 1.5s 0.3s;
  }
}

.sect-round-freel {
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 30;
  border-radius: 50%;

  &::before {
    content: '';
    background-color: $gray-l;
    border-radius: 50%;
    display: block;
    width: 9px;
    height: 9px;
    position: absolute;
    z-index: 32;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.sect-round-freel_desc {
  top: 87px;
  left: 213px;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #069AEE;
  box-shadow: 0px 0px 10px rgba(6, 154, 238, 0.3);

  @include max-w(1024) {
    top: 8px;
    left: 180px;
  }

  @include max-w(760) {
    top: 3px;
    left: 124px;
  }
}

.sect-round-freel_mob {
  top: 283px;
  left: 523px;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #F84258;
  box-shadow: 0px 0px 10px rgba(248, 66, 88, 0.3);

  @include max-w(1024) {
    top: 208px;
    left: 360px;
  }

  @include max-w(760) {
    top: 123px;
    left: 256px;
  }
}

.sect-icon-freel {
  position: absolute;
  z-index: 40;
  border-radius: 50%;

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 43;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.sect-icon-freel_mail {
  width: 40px;
  height: 40px;
  left: 116px;
  top: -6px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #0AD0BA;
  box-shadow: 3px 9px 14px rgba(10, 208, 186, 0.25);

  @include max-w(1024) {
    top: -67px;
    left: 83px;
  }

  @include max-w(760) {
    width: 30px;
    height: 30px;
    top: -36px;
    left: 196px;
  }

  &::before {
    width: 21px;
    height: 18px;
    background-image: url("../img/icon/mail-sect-icon.svg");

    @include max-w(760) {
      width: 15px;
      height: 13px;
    }
  }
}

.sect-icon-freel_bell {
  width: 60px;
  height: 60px;
  left: 568px;
  top: 88px;
  background: #5FD4F9;
  box-shadow: 3px 15px 40px rgba(87, 195, 229, 0.3);

  @include max-w(1024) {
    left: 398px;
    top: 80px;
  }

  @include max-w(760) {
    width: 45px;
    height: 45px;
    left: 272px;
    top: 43px;
  }

  &::before {
    width: 24px;
    height: 29px;
    background-image: url("../img/icon/bell-sect-icon.svg");

    @include max-w(760) {
      width: 18px;
      height: 21px;
    }
  }
}

.sect-icon-freel_pen {
  width: 40px;
  height: 40px;
  top: 538px;
  left: 63px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #F84258;
  box-shadow: 3px 9px 14px rgba(248, 66, 88, 0.25);

  @include max-w(1024) {
    top: 448px;
    left: 47px;
  }

  @include max-w(760) {
    width: 30px;
    height: 30px;
    top: 296px;
    left: 35px;
  }

  &::before {
    width: 17px;
    height: 13px;
    background-image: url("../img/icon/pen-sect-icon.svg");

    @include max-w(760) {
      width: 10px;
      height: 10px;
    }
  }
}

.sect-comment-freel {
  min-width: 20px;
  max-width: 200px;
  position: absolute;
  z-index: 50;
  background-color: $white;
  padding: 5px 15px;
  border-radius: 0 15px 15px 15px;

  @include max-w(760) {
    display: none;
  }
}

.sect-comment-freel_top {
  left: 96px;
  top: 328px;

  @include max-w(1024) {
    top: 245px;
    left: 110px;
  }
}

.sect-comment-freel__text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $text;
}

.sect-comment-freel__smile {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-left: 3px;
}

.sect-comment-freel__smile_sm {
  background-image: url("../img/icon/icon-smile-top.svg");
}

.sect-comment-freel_bottom {
  padding-top: 15px;
  padding-bottom: 16px;
  left: 125px;
  top: 384px;
  border-radius: 15px 15px 0 15px;

  @include max-w(1024) {
    top: 295px;
    left: 138px;
  }
}

.sect-comment-freel__smile_bn {
  background-image: url("../img/icon/icon-smile-bottom.svg");
}

.sect-bl-work {
  position: absolute;
  z-index: 60;
  top: 639px;
  left: 530px;
  display: flex;
  cursor: pointer;
}

.sect-bl-work_vis {
  transition: opacity $tran-f;

  &:hover {
    opacity: 0.85;
  }

  @include max-w(1200) {
    display: none;
  }
}

.sect-bl-work_mob {
  display: none;

  & > * {
    transition: opacity $tran-f;
  }

  &:hover {
    & > * {
      opacity: 0.85;
    }
  }

  @include max-w(760) {
    display: flex;
    position: static;
    margin-bottom: 60px;
    width: 100%;
  }
}

.sect-bl-work_desc {
  display: none;

  & > * {
    transition: opacity $tran-f;
  }

  &:hover {
    & > * {
      opacity: 0.85;
    }
  }

  @include max-w(1200) {
    display: flex;
    position: static;
    margin-top: 65px;
  }

  @include max-w(760) {
    display: none;
  }
}

.sect-bl-work__icon {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 13px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #0AD0BA;
  box-shadow: 0px 0px 10px rgba(10, 208, 186, 0.3);

  &::before {
    content: '';
    position: absolute;
    z-index: 63;
    left: 58%;
    top: 50%;
    border-left: 4px solid $white;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: translate(-50%, -50%);
  }
}

.sect-bl-work__text {
  color: $default;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  white-space: nowrap;
}

.sect-bl-work__text_mob {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}


.sect-freel-spot {
  position: absolute;
}

.sect-freel-spot_green {
  z-index: 12;
  left: 387px;
  top: 212px;
  transform: rotate(90deg);
  transform-origin: center;

  @include max-w(1024) {
    left: 250px;
    top: 123px;
    width: 107px;
    height: 110px;
  }
}

.sect-freel-spot_blue {
  top: 320px;
  z-index: 14;
  left: 39px;

  @include max-w(1024) {
    left: 35px;
    top: 238px;
  }

  @include max-w(760) {
    width: 144px;
    height: 137px;
    left: 17px;
    top: 162px;
  }
}

// FREELANCE-SECTION END =================================================


// EMPLOYER-SECTION =====================================================
.page-sect_empl {
  padding-top: 170px;
  padding-bottom: 100px;

  @include max-w(1200) {
    padding-top: 150px;
  }

  @include max-w(1070) {
    display: block;
    padding-bottom: 20px;
  }

  @include max-w(1027) {
    display: block;
  }

  @include max-w(760) {
    padding-top: 64px;
  }

  &.active {
    .block-review_bg {
      transform: translateX(-25px);
    }

    .block-review_pres {
      transform: translateX(15px);
    }

    .block-review_ek {
      transform: translateX(-3px);
    }
  }
}

.page-sect-part__text_empl {
  max-width: 330px;

  @include max-w(1070) {
    max-width: 100%;
    padding-bottom: 60px;
  }
}

.title-page_empl {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  margin-bottom: 40px;
  max-width: 350px;

  @include max-w(1024) {
    font-size: 38px;
    margin-bottom: 35px;
    max-width: 320px;
  }

  @include max-w(600) {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.page-sect-part__desc_empl {
  display: block;
}

.sect-text-bl_one {
  width: 100%;
  max-width: 325px;

  @include max-w(1070) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 540px;
  }

  @include max-w(600) {
    display: block;
  }
}

.sect-text-bl__desc_empl {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;

  @include max-w(1070) {
    margin-bottom: 35px;
    max-width: 243px;
    padding-right: 5px;
  }

  @include max-w(670) {
    width: 100%;
    max-width: 100%;
  }

  @include max-w(600) {
    max-width: 100%;
    padding-right: 0;
    margin-bottom: 30px;
  }
}

.btn_empl {
  width: 100%;
  max-width: 190px;
  margin-top: 45px;

  @include max-w(1024) {
    margin-top: 0;
  }

  @include max-w(600) {
    margin-top: 0;
  }
}


.page-sect-part__vis_empl {
  flex-grow: 1;
  max-width: 680px;
  position: relative;

  @include max-w(1070) {
    min-width: 100vw;
    max-width: 100vw;
    margin-left: -60px;
    display: flex;
    justify-content: center;
    min-height: 440px;
  }

  @include max-w(710) {
    min-height: inherit;
  }

  @include max-w(600) {
    margin-left: -30px;
  }
}

.page-sect-part__vis-cont_empl {
  @include max-w(1070) {
    width: 100%;
    max-width: 680px;
    position: relative;
  }
}

.page-sect-part__vis-cont_freel {
  position: relative;
  width: 100%;

  @include max-w(760) {
    max-width: 364px;
  }
}

.block-review {
  width: 100%;
  position: absolute;
  z-index: 10;
  border: 1px solid $gray-d;
  border-radius: 4px;
  padding: 30px 50px 30px 70px;
  background-color: $white;
  transition: transform 4.5s;
  transition-delay: 0.3s;

  @include max-w(710) {
    display: none;
  }

  &::before {
    content: '';
    display: block;
    width: 20px;
    height: 16px;
    position: absolute;
    z-index: 3;
    top: 33px;
    left: 32px;
    background-image: url("../img/icon/quote-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.block-review_bg {
  top: 0;
  left: 140px;
  max-width: 460px;
}

.block-review_pres {
  z-index: 15;
  top: 137px;
  left: 50px;
  max-width: 590px;
  border: none;
  box-shadow: 15px 15px 40px rgba(162, 173, 199, 0.2);
}

.block-review_ek {
  z-index: 13;
  max-width: 410px;
  left: 100px;
  top: 294px;
}

.block-review__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: $text;
  margin-bottom: 15px;
}

.block-review__name {
  color: $default;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}

.block-review__icon {
  position: absolute;
  z-index: 15;
  border-radius: 50%;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: translate(-50%, -50%);
  }
}

.block-review__icon_bg {
  top: -20px;
  right: -12px;
  width: 40px;
  height: 40px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #A063DC;
  box-shadow: 3px 9px 14px rgba(160, 99, 220, 0.25);

  &::before {
    width: 19px;
    height: 20px;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon/review-icon-bg-1.svg");
  }
}

.block-review__icon_pres {
  right: -30px;
  bottom: -30px;
  width: 60px;
  height: 60px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #F84258;
  box-shadow: 3px 15px 40px rgba(248, 66, 88, 0.3);

  &::before {
    width: 29px;
    height: 34px;
    background-image: url("../img/icon/review-icon-pres.svg");
  }
}


.block-review__icon_ek {
  left: -20px;
  bottom: -20px;
  width: 40px;
  height: 40px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #0AD0BA;
  box-shadow: 3px 9px 14px rgba(10, 208, 186, 0.25);

  &::before {
    width: 20px;
    height: 23px;
    background-image: url("../img/icon/review-icon-ek.svg");
  }
}

.sect-empl-spot {
  position: absolute;
  z-index: 5;
}

.sect-empl-spot_yellow {
  top: 31px;
  left: 3px;
  transform: rotate(90deg);
  transform-origin: center;
}

.sect-empl-spot_green {
  top: 254px;
  left: 487px;
  transform: rotate(90deg);
  transform-origin: center;
}
// EMPLOYER-SECTION END =================================================


// FREELANCE-TOP-SECTION  ====================================================
.page-sect_job {
  padding-top: 152px;
  padding-bottom: 100px;

  @include max-w(1070) {
    display: block;
    padding-top: 75px;
  }

  @include max-w(710) {
    padding-top: 60px;
  }
}

.page-sect-part__vis_job {
  width: 100%;
  flex-grow: 1;
  position: relative;
}

.page-sect-part__text_job {
  min-width: 330px;

  @include max-w(1070) {
    padding-bottom: 105px;
  }

  @include max-w(700) {
    padding-bottom: 55px;
  }
}

.slider {
  display: flex;
  position: absolute;
  z-index: 5;
}

.slider-freel {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 150px;

  @include max-w(1070) {
    position: relative;
    left: 0;
    margin-left: -15px;
    margin-right: -15px;
  }

  @include max-w(700) {
    margin-left: -10px;
    margin-right: -10px;
  }
}

.slider__item {
  padding: 0 15px;

  @include max-w(700) {
    padding: 0 10px;
  }
}

.slider__item-cont {
  width: 270px;
  background: $white;
  //box-shadow: 15px 15px 40px rgba(162, 173, 199, 0.2);
  border-radius: 4px;
  border: 1px solid $gray-d;
  padding: 30px;

  @include max-w(700) {
    width: 250px;
  }
}

.slider__item-cont_freel {
  box-shadow: 15px 15px 40px rgba(162, 173, 199, 0);
  transition: all $tran;

  &:hover {
    box-shadow: 15px 15px 40px rgba(162, 173, 199, 0.2);
    border: 1px solid $white;
  }
}

.slider__item-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 27px;
  background-image: url("../img/top-freelance-slider-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.slider__item-icon_fr-2 {
  background-image: url("../img/freelancer-2.png");
}

.slider__item-icon_fr-3 {
  background-image: url("../img/freelancer-3.png");
}

.slider__item-icon_fr-4 {
  background-image: url("../img/freelancer-4.png");
}

.slider__item-name {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 18px;
}

.slider__skill {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.slider__skill-item {
  background-color: $gray-d;
  border-radius: 4px;
  margin-right: 6px;
  padding: 3px 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 9px;

  &:last-of-type {
    margin-right: 0;
  }
}

.slider__lang-list {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: $text;
}

.sect-job-spot {
  position: absolute;
  z-index: 5;
}

.sect-job-spot_blue {
  top: 165px;
  left: 40px;
}

.sect-job-spot_red {
  top: 374px;
  left: 290px;
}

// FREELANCE-TOP-SECTION END ============================================


// POWERFUL-SECTION  ====================================================
.page-sect_powerful {
  padding-top: 145px;
  padding-bottom: 445px;

  @include max-w(1150) {
    padding-bottom: 345px;
  }

  @include max-w(1070) {
    padding-top: 80px;
  }

  @include max-w(760) {
    padding-bottom: 80px;
  }

  @include max-w(600) {
    padding-top: 10px;
  }
}

.title-page_powerful {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  margin-bottom: 80px;
  max-width: 350px;

  @include max-w(1024) {
    font-size: 38px;
    margin-bottom: 35px;
  }

  @include max-w(600) {
    font-size: 30px;
    margin-bottom: 40px;
  }
}

.slider-wrap {
  position: relative;
  min-height: 330px;
  width: 100%;
}

.slider__manag {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__manag_job-type {
  top: -110px;
  right: 35px;

  @include max-w(1024) {
    top: -70px;
  }

  @include max-w(900) {
    right: 0;
  }

  @include max-w(700) {
    display: none;
  }
}

.slider__manag_power {
  top: -65px;
  right: 35px;

  @include max-w(900) {
    right: 0;
  }

  @include max-w(700) {
    display: none;
  }
}

.slider__manag-tx {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  color: $text;
  margin-right: 40px;
}

.slider__manag_numb {
  margin-right: 5px;
}

.slider__manag_count {
  margin-left: 5px;
}

.slider__manag-arrow-wr {
  display: flex;
  align-items: center;
}

.slider__manag-arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  transition: background-color $tran-f;
  cursor: pointer;
  border-radius: 4px;

  &.disable {
    opacity: 0.3;
    pointer-events: none;
  }

  &::before {
    content: '';
    position: absolute;
    height: 14px;
    width: 8px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: opacity $tran-f;
  }

  &:hover {
    background-color: $gray-l;

    &::before {
      opacity: 0.7;
    }
  }
}

.slider__manag-arrow_lf {
  margin-right: 10px;

  &::before {
    background-image: url("../img/icon/arrow-left-icon.svg");
  }
}

.slider__manag-arrow_rt {
  &::before {
    background-image: url("../img/icon/arrow-right-icon.svg");
  }
}


.slider-job-type {
  margin: 0 -15px;

  @include max-w(700) {
    margin: 0 -10px;
  }
}

.slider__item_job-type {
  padding: 0 15px;

  @include max-w(700) {
    padding: 0 10px;
  }
}

.slider__item-cont_job-type {
  padding: 0;
  position: relative;
  width: 270px;
  height: 330px;
  border-radius: 5px;
  background-color: $text;
  overflow: hidden;
  border: none;

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    border-radius: 4px;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 7;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    background-image: url("../img/job-type-img-1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    border-radius: 4px;
  }

  @include max-w(700) {
    width: 250px;
    height: 330px;
  }
}

.slider__item-icon_job-type {
  position: absolute;
  z-index: 12;
  top: 30px;
  left: 30px;
  z-index: 20;
  width: 54px;
  height: 54px;
  background: $white;

  &::before {
    content: '';
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    transform: translate(-50%, -50%);
    background-image: url("../img/icon/subtitle-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.slider__item-title {
  max-width: 200px;
  position: absolute;
  z-index: 11;
  left: 30px;
  bottom: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: $white;
}

.cl_purple {
  .slider__item-icon_job-type {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #A063DC;
    box-shadow: 0px 0px 10px rgba(160, 99, 220, 0.3);

  }

  .slider__item-cont_job-type {
    &::before {
      background: linear-gradient(360deg, #E18938 0%, #B382E3 0.01%, rgba(179, 130, 227, 0.12) 36.72%, rgba(255, 255, 255, 0) 70.41%);
    }
    &::after {
      background-image: url("../img/job-type-img-1.png");
    }
  }
}

.cl_blue {
  .slider__item-icon_job-type {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #069AEE;
    box-shadow: 0px 0px 10px rgba(6, 154, 238, 0.3);
  }

  .slider__item-cont_job-type {
    &::before {
      background: linear-gradient(360deg, rgba(56, 174, 241, 0.7) 0%, rgba(56, 174, 241, 0.084) 29.69%, rgba(255, 255, 255, 0) 75.3%);
    }
    &::after {
      background-image: url("../img/job-type-img-2.png");
    }
  }
}

.cl_orange {
  .slider__item-icon_job-type {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #FF993A;
    box-shadow: 0px 0px 10px rgba(255, 153, 58, 0.3);
  }

  .slider__item-cont_job-type {
    &::before {
      background: linear-gradient(360deg, rgba(255, 173, 97, 0.8) 0%, rgba(255, 173, 97, 0.096) 36.72%, rgba(255, 255, 255, 0) 70.41%);
    }
    &::after {
      background-image: url("../img/job-type-img-3.png");
    }
  }
}

.cl_green {
  .slider__item-icon_job-type {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #0AD0BA;
    box-shadow: 0px 0px 10px rgba(10, 208, 186, 0.3);
  }

  .slider__item-cont_job-type {
    &::before {
      background: linear-gradient(360deg, #3BD9C8 0%, rgba(59, 217, 200, 0.12) 36.72%, rgba(255, 255, 255, 0) 70.41%);
    }
    &::after {
      background-image: url("../img/job-type-img-4.png");
    }
  }
}

.cl_red {
  .slider__item-icon_job-type {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #F84258;
    box-shadow: 0px 0px 10px rgba(248, 66, 88, 0.3);
  }

  .slider__item-cont_job-type {
    &::before {
      background: linear-gradient(360deg, #FF5449 0%, rgba(247, 106, 88, 0.12) 26.31%, rgba(255, 255, 255, 0) 70.41%);
    }
    &::after {
      background-image: url("../img/job-type-img-5.png");
    }
  }
}

.cl_blue-l {
  .slider__item-icon_job-type {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #57C3E5;
    box-shadow: 0px 0px 10px rgba(87, 195, 229, 0.3);
  }

  .slider__item-cont_job-type {
    &::before {
      background: linear-gradient(360deg, #4FB7D8 0%, rgba(87, 195, 229, 0.12) 36.72%, rgba(255, 255, 255, 0) 60.5%, rgba(255, 255, 255, 0.67) 99.87%);
    }
    &::after {
      background-image: url("../img/job-type-img-6.png");
    }
  }
}

.cl_yellow  {
  .slider__item-icon_job-type {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), #FFC531;
    box-shadow: 0px 0px 10px rgba(255, 197, 49, 0.3);
  }

  .slider__item-cont_job-type {
    &::before {
      background: linear-gradient(360deg, rgba(255, 203, 70, 0.7) 0%, rgba(255, 203, 70, 0.084) 29.69%, rgba(255, 255, 255, 0) 70.41%);
    }
    &::after {
      background-image: url("../img/job-type-img-7.png");
    }
  }
}

.icon-edit.slider__item-icon_job-type {
  &::before {
    background-image: url("../img/icon/edit-icon.svg");
  }
}

.icon-writing.slider__item-icon_job-type {
  &::before {
    background-image: url("../img/icon/writing-icon.svg");
  }
}


// POWERFUL-SECTION END  ================================================


// APP-SECTION ==========================================================
.page-bl_app {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 430px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  border: 1px solid $gray-d;
  border-radius: 4px;
  min-width: 1130px;

  @include max-w(1150) {
    border: none;
    border-radius: 0;
    min-width: 100vw;
  }

  @include max-w(760) {
    min-width: 100vw;
    margin-left: -60px;
    display: block;
    transform: inherit;
    position: static;
    padding: 0 60px 0px;
    margin-bottom: 70px;
  }

  @include max-w(600) {
    margin-left: -30px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -5;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 75%;
    width: 92%;
    box-shadow: 15px 15px 90px rgba(162, 173, 199, 0.3);
    border-radius: 4px;

    @include max-w(1150) {
      display: none;
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $white;
    border-radius: 4px;

    @include max-w(1150) {
      display: none;
    }
  }

  &.active {
    .page-bl-app-img__item_top {
      transform: translateX(30px);
    }

    .page-bl-app-img__item_bot {
      transform: translateX(40px);
    }
  }
}

.bl-app_mark {
  position: absolute;
  z-index: -1;
  top: -280px;
  pointer-events: none;
}

.page-bl__part-desc {
  max-width: 480px;
  width: 100%;
  padding: 70px 10px 70px 70px;

  @include max-w(760) {
    padding: 10px 0 0px;
    margin-bottom: -15px;
  }
}

.title-page_app {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  margin-bottom: 30px;

  @include max-w(1024) {
    font-size: 38px;
    margin-bottom: 36px;
  }
}

.page-bl__text_app {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 40px;
  max-width: 350px;

  @include max-w(1024) {
    margin-bottom: 30px;
  }
}


.bl-brand {
  display: flex;
}

.bl-brand__item {
  width: 162px;
  height: 50px;
  background-color: $default;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity $tran-f;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:first-of-type {
    margin-right: 10px;
  }
}

.bl-brand__icon {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.bl-brand__icon_google {
  background-image: url("../img/icon/google-icon.svg");
  width: 27px;
  height: 29px;
  margin-left: 12px;
}

.bl-brand__icon-text {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.bl-brand__icon-text_google {
  background-image: url("../img/icon/google-text-img.svg");
  width: 106px;
  height: 34px;
  margin-right: 10px;
}

.bl-brand__icon_apple {
  background-image: url("../img/icon/apple-icon.svg");
  width: 24px;
  height: 29px;
  margin-left: 14px;
}

.bl-brand__icon-text_apple {
  background-image: url("../img/icon/apple-text-img.svg");
  width: 98px;
  height: 33px;
  margin-right: 17px;
}


.page-bl__part-vis {
  position: relative;
  max-width: 630px;
  width: 100%;

  @include max-w(760) {
    min-height: 350px;
    max-width: inherit;
    width: 100vw;
    margin-left: -30px;
    //pointer-events: none;
  }
}

.page-bl__part-vis-item {
  position: absolute;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.page-bl-app-img {
  
}

.page-bl-app-img__item {
  position: absolute;
  bottom: 0;
  bottom: -1px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.page-bl-app-img__item_top {
  background-image: url("../img/app-img-mob-1.png");
  //left: 105px;
  right: 70px;
  height: 337px;
  width: 455px;
  z-index: 45;
  transition: transform 2s;
  transition-delay: 0.4s;

  @include max-w(1024) {
    right: -120px;
  }

  @include max-w(760) {
    bottom: -2px;
    left: -28px;
    height: 345px;
    width: 437px;
    background-image: url("../img/app-img-mob-1-m.png");
  }
}

.page-bl-app-img__item_bot {
  background-image: url("../img/app-img-mob-2.png");
  //left: 275px;
  right: 0;
  height: 518px;
  width: 356px;
  z-index: 40;
  transition: transform 3.5s;
  transition-delay: 0.4s;

  @include max-w(1024) {
    display: none;
  }

  @include max-w(760) {
    display: block;
    right: inherit;
    left: 132px;
    background-image: url("../img/app-img-mob-2-m.png");
    height: 357px;
    width: 353px;
  }
}

.page-bl-spot {
  overflow: hidden;
}

.sect-app-spot {
  position: absolute;
}

.sect-app-spot_blue {
  z-index: 13;
  left: 15px;
  bottom: -33px;
  transform: rotate(90deg);
  transform-origin: center;
}

.sect-app-spot_yellow {
  z-index: 15;
  top: 100px;
  right: -26px;
  transform-origin: right top;
}

.sect-app-spot_red {
  z-index: 18;
  right: 25px;
  bottom: -43px;
  //transform: rotate(-90deg);
  transform-origin: right bottom;
}

// APP-SECTION END ===================================================


// START-SECTION  ====================================================

.page-sect_start {
  position: relative;
  padding-top: 350px;
  padding-bottom: 120px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    background-color: $gray-l;
  }

  @include max-w(1120) {
    display: block;
    padding-top: 305px;
    padding-bottom: 80px;
  }

  @include max-w(760) {
    padding-top: 0;
  }

  @include max-w(600) {
    padding-bottom: 0;
  }
}

.page-sect-part__text_start {
  max-width: 420px;

  @include max-w(1120) {
    margin-bottom: 70px;
  }

  @include max-w(600) {
    margin-bottom: 50px;
  }
}

.page-sect-part__desc_start {
  display: block;
}

.title-page_start {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  max-width: 420px;
  margin-bottom: 20px;

  @include max-w(1120) {
    font-size: 38px;
    margin-bottom: 25px;
  }

  @include max-w(600) {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.desc-page_start {
  max-width: 410px;
  font-style: normal;
}


.page-sect-part__vis_start {
  width: 100%;
  max-width: 505px;
  display: flex;
  align-items: flex-end;
}

.page-sect-part__desc_start-vis {
  max-width: 395px;
  width: 100%;
  justify-content: space-between;
  display: flex;

  @include max-w(600) {
    display: block;
  }
}

.btn_start {

}

.btn_start-fr {
  background-color: transparent;
}

.sect-text-bl_start {
  width: 100%;
  padding-right: 0;
  max-width: 174px;

  @include max-w(600) {
    max-width: 100%;
    margin-bottom: 50px;
  }
}

.sect-text-bl__desc_start {
  max-width: 120px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 15px;

  @include max-w(600) {
    max-width: 100%;
  }
}

.sect-text_br-start {
  @include max-w(600) {
    display: none;
  }
}

// START-SECTION END =================================================


// START-SECTION==== =================================================
.slider-cont_empl {
  display: none;
  padding-left: 60px;

  @include max-w(710) {
    display: block;
  }

  @include max-w(600) {
    padding-left: 30px;
  }
}

.slider-empl-type {
  position: relative;
  margin: 0 -10px;
}

.slider__item_empl-type {
  padding: 0 10px;
}

.slider__item-cont_empl-type {
  width: 250px;
  padding: 20px 15px 20px 64px;
  background-color: $white;
  border: 1px solid $gray-d;
  position: relative;
  border-radius: 4px;
  transition: all $tran-m;
  box-shadow: 15px 10px 40px rgba(162, 173, 199, 0);

  &:hover {
    border: 1px solid transparent;
    box-shadow: 15px 10px 40px rgba(162, 173, 199, 0.2);
  }

  &::before {
    content: '';
    display: block;
    width: 20px;
    height: 16px;
    position: absolute;
    z-index: 3;
    top: 23px;
    left: 22px;
    background-image: url("../img/icon/quote-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.slider__item-desc_empl-type {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 15px;
}

.slider__item-name_empl-type {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}

// START-SECTION END =================================================


// FOOTER =============================================================

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 56px;
  padding: 5px 20px;
  border-top: 1px solid $gray-d;
  background-color: $gray-l;

  @include max-w(1024) {
    flex-wrap: wrap;
    padding: 0;
  }
}

.footer__copyright {
  padding: 0 40px 0 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $colLg;

  @include max-w(1024) {
    order: 3;
    width: 100%;
    min-height: 56px;
    display: flex;
    align-items: center;
    border-top: 1px solid $gray-d;
    padding: 3px 60px;
  }

  @include max-w(755) {
    order: 3;
    padding: 3px 30px;
    min-height: 60px;
    justify-content: center;
  }
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;

  @include max-w(1024) {
    order: 1;
    display: flex;
    align-items: center;
    padding: 3px 25px 3px 60px;
    min-height: 56px;
    margin-left: -5px;
  }

  @include max-w(755) {
    order: 2;
    margin-left: 0;
    padding: 20px 30px;
    display: block;
    width: 100%;
    border-top: 1px solid $gray-d;
  }
}

.footer-menu__item {
  padding: 0 5px;

  @include max-w(755) {
    text-align: center;
  }
}

.footer-menu__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $btText;
  padding: 0 5px;

  @include max-w(755) {
    font-size: 16px;
    line-height: 155%;
    padding: 5px 5px;
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    min-width: 300px;
  }

  &:hover {

  }
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  max-width: 300px;

  @include max-w(1024) {
    order: 2;
    min-height: 56px;
    align-items: center;
    padding-right: 60px;
    margin-right: -3px;
  }

  @include max-w(755) {
    order: 1;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    padding: 3px 30px;
    min-height: 70px;
  }
}

.footer-social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 15px;

  &:last-of-type {
    margin-right: 0;
  }

  &::before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 14px;
    height: 14px;
  }

  &:hover {

  }
}

.footer-social__item_fc {
  &::before {
    background-image: url("../img/icon-social/facebook-icon.svg");
  }
}

.footer-social__item_tw {
  &::before {
    background-image: url("../img/icon-social/twitter-icon.svg");
    width: 18px;
  }
}

.footer-social__item_in {
  &::before {
    background-image: url("../img/icon-social/instagram-icon.svg");
  }
}

// FOOTER END =========================================================