// GLOBAL
$tran-f: 150ms;
$tran-m: 320ms;
$tran: 420ms;
$tran-s: 620ms;

// COLORS
$white: #ffffff;
$black: #000000;
$default: #3C4C58;
$colLg: #9FB4C3;
$text: #556774;
$grin: #0AD0BA;
$grin-d: #07C4B0;
$btText: #6F8493;
$gray: #CEDAE1;
$gray-l: #FBFBFC;
$gray-d: #E6EBF0;

// FONT-FAMILY
$mada: 'Mada', sans-serif;